[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/indentLine"]
	path = vim/pack/vendor/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/vendor/start/vim-nerdtree-tabs"]
	path = vim/pack/vendor/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/pack/vendor/start/ale"]
	path = vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
